.welcome-title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.welcome-title a {
    text-decoration: none;
    width: 30%;
    color: black;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header-wrapper a {
    margin: 20px 0px;
    text-decoration: none;
    width: 30%;
    color: black;
}

.vaccin-status {
    text-align: center;
    margin: 2rem;
    color: green;
    font-weight: bold;
    font-size: 20px;
}